#footer {
    margin-top: 30px;
    padding: 30px;
}

#textarea {
    height: 90px;
}

.thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.btn {
    background-color: dimgray;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: dimgray;
}
